{{!< default}}

<main id="site-main" class="site-main">
<article class="article {{post_class}}">

    <header class="article-header gh-canvas">

        <h1 class="article-title">{{title}}</h1>

        {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
            {{#foreach tags}}
                <a href='{{ url }}'>
                <h2>{{ name }} <small>({{ count.posts }})</small></h2>
                </a>
            {{/foreach}}
        {{/get}}

    </header>

    <section class="gh-content gh-canvas">
        {{content}}
    </section>

</article>
</main>