{{!< default}}

{{!-- Archive Page --}}
<div class="container wrapper">
  <h1 class="archive__title">{{t "Archive"}}</h1>
  <div class="archive__excerpt">
    {{#get "posts"}}
      {{t "Browse the complete archive of {total} posts." total=pagination.total}}
    {{/get}}
  </div>
  
  <div class="content">
    <div class="archive js-post-feed">
      {{#foreach posts visibility="all"}}
        <div class="archive-post-wrap post-year-{{date format="Y"}} js-post-card"> 
          <div class="archive-post-label m-t m-b-sm fw-600">{{date format="YYYY"}}</div>
          <article class="archive-post">
            <time datetime="{{date published_at format="YYYY-MM-DD"}}"
              class="text-acc-3">{{date published_at format="DD MMM YYYY"}}
            </time>

            <h2 class="archive-post__title fw-500 m-0 text-acc-2">
              <a class="archive-post__link flex-1" href="{{url}}">{{title}}</a>
            </h2>
          </article>
        </div>
      {{/foreach}}
    </div>

    {{!-- Pagination --}}
    {{pagination}}
  </div>
</div>
<style>
.post-date-1 + .post-date-1 .post-label,
.post-date-2 + .post-date-2 .post-label,
.post-date-3 + .post-date-3 .post-label,
.post-date-4 + .post-date-4 .post-label,
.post-date-5 + .post-date-5 .post-label,
.post-date-6 + .post-date-6 .post-label,
.post-date-7 + .post-date-7 .post-label,
.post-date-8 + .post-date-8 .post-label,
.post-date-9 + .post-date-9 .post-label,
.post-date-10 + .post-date-10 .post-label,
.post-date-11 + .post-date-11 .post-label,
.post-date-12 + .post-date-12 .post-label {
  display: none;
}
</style>